caogao/
ckpt/
output/
results/
phote/
save/

tools/buildDataList_ST/news
/tools/buildDataList_ucf/newlist/
/tools/draw_abnScore/selected_video/
/tools/draw_abnScore/selectived_videos/


__pycache__
*.pyc
archive
.idea
.DS_Store
list/annotations
hmgics

